body {
  padding: 0 2rem;
  background-color: #bfbfbf;
  color: #4b4b4b;
  font-family: "Helvetica", sans-serif;
}

section {
  border: 0.1rem solid #d7d7d7;
  background-color: #d7d7d7;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 0 1rem;
}

section:hover {
  border: 0.1rem solid #dfdfdf;
  background-color: #dfdfdf;
}

span {
  margin: 0 2rem 0 0;
}

a {
  color: #4b4b4b;
  text-decoration: none;
  border-bottom: 0.1rem dotted #4b4b4b;
}
